{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 clss="mb-4">Change Password</h2>
    {% if error %}
    <div class="alert alert-danger text-center">{{ error }}</div>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success text-center">{{ messages[0] }}</div>
        {% endif %}
    {% endwith %}

    <form method="POST" class="col-md-6">
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password</label>
            <div class="input-group">
                <input type="password" name="old_password" id="old_password" class="form-control" required>
                <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('old_password')">
                <i class="bi bi-eye" id="toggleIcon_old_password"></i>
                </button>
            </div>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <div class="input-group">
                <input type="password" name="new_password" id="new_password" class="form-control" required>
                <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('new_password')">
                <i class="bi bi-eye" id="toggleIcon_new_password"></i>
                </button>
            </div>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <div class="input-group">
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" required>
                <button class="btn btn-outline-secondary" type="button" onclick="togglePassword('confirm_password')">
                <i class="bi bi-eye" id="toggleIcon_confirm_password"></i>
                </button>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>
</div>
<script>
function togglePassword(id) {
  const input = document.getElementById(id);
  if (input.type === "password") {
    input.type = "text";
  } else {
    input.type = "password";
  }
}
</script>
</script>
{% endblock %}