{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Monthly Stationary Request</h2>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% for category,message in messages %}
        <div class="alert alert-{{category}}">{{message}}</div>
        {% endfor %}
    {% endwith %}
    <form method='POST'>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Sr. No.</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {%for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{item}}</td>
                    <td><input type="number" name="qty_{{item|replace(' ','_')|replace('-','_')|replace('.','')}}" min="0" class="form-control"
                        value="{{ item_dict[item]['quantity'] if item in item_dict else 0}}" ></td>
                    <td><input type="text" name="remarks_{{item|replace(' ','_')|replace('-','_')|replace('.','')}}" class="form-control"
                        value="{{ item_dict[item]['remarks'] if item in item_dict else '' }}" ></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Update Request</button>
        <a href="/admin/monthly-requests-view" class="btn btn-secondary">Cancel</a>
    </form>
    {% if show_alert %}
    <script>
        alert("✅ Monthly Request Updated Successfully!!!");
        window.location.href = '/admin/monthly-requests-view';
    </script>
    {% endif %}
</div>
{% endblock %}