{% extends 'base.html' %}
{% block title %}Employee Dashboard{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Monthly Stationary Request</h2>
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% for category,message in messages %}
        <div class="alert alert-{{category}}">{{message}}</div>
        {% endfor %}
    {% endwith %}
    <form method='POST'>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Sr. No.</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th>Remarks</th>
                </tr>
            </thead>
            <tbody>
                {%for item in items %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{item}}</td>
                    <td><input type="number" name="qty_{item}" min="0" class="form-control" placeholder="0" ></td>
                    <td><input type="text" name="remarks_{item}" class="form-control" placeholder="remarks" ></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Submit Monthly Request</button>
    </form>
</div>
{% endblock %}